/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("/media/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("/media/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "LyLaS";
  src: url("/media/fonts/LoveYaLikeASister-Regular.ttf");
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1200px) {
  header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

header img {
  margin-top: -15px;
  margin-left: 15px;
  width: 90%;
  max-width: 200px;
}

@media (min-width: 1200px) {
  header img {
    max-width: 300px;
  }
}

header nav {
  width: 100%;
}

@media (min-width: 1200px) {
  header nav {
    width: 60%;
  }
}

header nav input {
  padding-left: 20px;
  font-size: 16px;
  width: 85%;
  height: 40px;
  border: 2px solid #ebebeb;
  border-right: 0;
  border-radius: 17px 0 0 17px;
}

@media (min-width: 1200px) {
  header nav input {
    width: 70%;
  }
}

header nav button {
  color: white;
  font-size: 16px;
  background-image: -webkit-gradient(linear, left top, right top, from(#d07f45), to(#955eed));
  background-image: linear-gradient(to right, #d07f45, #955eed);
  border: 0;
  width: 15%;
  height: 40px;
  border-radius: 0 17px 17px 0;
}

@media (min-width: 1200px) {
  header nav button {
    width: 20%;
  }
}

header nav .text-btn {
  display: none;
  font-weight: 500;
}

@media (min-width: 1200px) {
  header nav .text-btn {
    display: initial;
  }
}

header nav .icon-btn i {
  font-size: 18px;
}

@media (min-width: 1200px) {
  header nav .icon-btn {
    display: none;
  }
}

header nav .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  border-radius: 17px;
}

@media (min-width: 1200px) {
  header nav .search-bar {
    width: 80%;
  }
}

header nav i {
  font-size: 24px;
}

header nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20%;
}

@media (min-width: 1200px) {
  header nav .icons {
    width: 12%;
  }
}

header nav .icons .fa-heart {
  display: none;
}

@media (min-width: 1200px) {
  header nav .icons .fa-heart {
    display: initial;
  }
}

header nav .icons a {
  text-decoration: none;
  color: #000;
}

header nav .icons a:hover {
  color: #4912a0;
}

header nav .icons span {
  font-family: "Montserrat";
  font-size: 14px;
  position: absolute;
  width: 20px;
  height: 20px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #d07f45;
  border-radius: 50%;
  top: -10px;
  left: 15px;
  cursor: default;
}

@media (min-width: 1200px) {
  header nav .icons span {
    left: 88px;
  }
}

header .slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  font-size: 24px;
  width: 85%;
  height: 120px;
  color: #261624;
  font-family: "MontSerrat-Bold";
}

@media (min-width: 1200px) {
  header .slogan {
    width: 95%;
  }
}

footer {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 200px;
  font-family: "Montserrat";
}

@media (min-width: 1200px) {
  footer {
    width: 95%;
    margin-top: 30px;
  }
}

footer h2 {
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: #000;
}

/** {
  font-family: "Montserrat";
}*/
@media (min-width: 1200px) {
  body {
    max-width: 1400px;
    margin: auto;
  }
}

.content {
  font-family: "MontSerrat";
  background-color: #f3e9f1;
  width: 100%;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}

@media (min-width: 1200px) {
  .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-shadow: 1px 1px 5px lightgrey;
            box-shadow: 1px 1px 5px lightgrey;
    row-gap: 0;
    border-radius: 5px;
  }
}

.content a {
  text-decoration: none;
}

.content div {
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #bababa;
          box-shadow: 0 0 10px #bababa;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 200ms ease-in-out;
  transition: -webkit-box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
}

@media (min-width: 1200px) {
  .content div {
    width: 30%;
    margin-left: 35px;
    margin-bottom: 35px;
  }
}

.content div:hover {
  -webkit-box-shadow: 0 0 10px #878787;
          box-shadow: 0 0 10px #878787;
}

.content h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "MontSerrat";
  font-size: 22px;
  width: 85%;
  height: 100px;
  margin: auto;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .content h2 {
    width: 95%;
  }
}

.content h3 {
  color: #000;
  font-size: 18px;
  margin-left: 7px;
  margin-top: 7px;
  height: 35px;
  border-radius: 0 0 5px 5px;
  font-weight: bold;
}

.content img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.content p {
  color: red;
  margin-left: 7px;
  margin-bottom: 7px;
}

.content button {
  position: absolute;
  bottom: 8px;
  right: 7px;
  background: lightgreen;
  width: 120px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 5px lightgray;
          box-shadow: 1px 2px 5px lightgray;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.content button:hover {
  opacity: 0.8;
}

#product-content {
  background-color: #f9efe8;
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product-content #product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat";
  width: 80%;
  margin-top: 50px;
}

@media (min-width: 1200px) {
  #product-content #product-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
  }
}

#product-content #product-container img {
  border-radius: 3px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 1px 1px 15px lightgrey;
          box-shadow: 1px 1px 15px lightgrey;
}

@media (min-width: 1200px) {
  #product-content #product-container img {
    width: 90%;
  }
}

#product-content #product-container h1 {
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
}

@media (min-width: 1200px) {
  #product-content #product-container h1 {
    margin-left: 40px;
  }
}

#product-content #product-container__to-cart {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 10px grey;
          box-shadow: 1px 1px 10px grey;
  margin-bottom: 50px;
}

@media (min-width: 1200px) {
  #product-content #product-container__to-cart {
    margin-top: 0;
    margin-left: 20px;
    width: 85%;
  }
}

#product-content #product-container__to-cart #product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 50px;
  color: red;
  margin-left: auto;
  margin-right: auto;
}

#product-content #product-container__to-cart #product-lenses-title {
  height: 25px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

#product-content #product-container__to-cart select {
  border: 1px solid #e2e2e2;
  width: 90%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 16px;
  -webkit-box-shadow: 1px 1px 5px lightgray;
          box-shadow: 1px 1px 5px lightgray;
  outline: none;
}

#product-content #product-container__to-cart #product-add {
  width: 90%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgreen;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px lightgray;
          box-shadow: 1px 1px 5px lightgray;
  margin-bottom: 15px;
  font-size: 18px;
  cursor: pointer;
}

#product-content #product-description {
  margin-top: 10px;
  color: #955eed;
}

@media (min-width: 1200px) {
  #product-content #product-description {
    margin-left: 40px;
  }
}

#cart-content {
  width: 85%;
  margin: auto;
  font-family: "MontSerrat";
}

#cart-content .total-cost {
  border-bottom: 3px solid lightblue;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: bold;
  font-size: 20px;
}

#cart-content .cart-content-info {
  border-bottom: 3px solid lightblue;
  margin-left: auto;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  font-size: 17px;
}

#cart-content .cart-content-info .item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 33%;
}

#cart-content .cart-content-info .item-lense {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cart-content .cart-content-info .item-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 12%;
}

#cart-content .cart-content-info .item-cost {
  width: 11%;
}

.test {
  background-color: #f0e8fc;
  border: 1px solid grey;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test h2 {
  font-family: "MontSerrat-bold";
  width: 20%;
}

.test p {
  width: 20%;
}

.test p:last-child {
  width: 10%;
}

.test .cart-quantity {
  width: 5%;
}

.test img {
  width: 20%;
}

.test i {
  width: 8%;
  font-size: 20px;
  color: blue;
}

#delete-cart {
  width: 90%;
  margin-top: 160px;
  font-family: "MontSerrat";
  font-size: 16px;
  height: 40px;
  border: 0;
  background-color: #ff9999;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 10px lightgrey;
          box-shadow: 1px 1px 10px lightgrey;
  cursor: pointer;
  display: none;
}

#checkout {
  width: 90%;
  margin-top: 70px;
  font-family: "MontSerrat";
  font-size: 16px;
  height: 40px;
  border: 0;
  background-color: lightgreen;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 10px lightgrey;
          box-shadow: 1px 1px 10px lightgrey;
  cursor: pointer;
  display: none;
}

.cart-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  .cart-elements {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cart-elements #check-delete {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#checkout-ok,
#order-id {
  font-family: "MontSerrat";
  width: 95%;
  margin: auto;
}

#form-checkout {
  font-family: "MontSerrat";
  margin-left: 40px;
  background-color: #e9ddfb;
  width: 50%;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px #e2e2e2;
          box-shadow: 1px 1px 5px #e2e2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}

#form-checkout .form-checkout__lastname, #form-checkout .form-checkout__firstname, #form-checkout .form-checkout__email, #form-checkout .form-checkout__phonenumber, #form-checkout .form-checkout__city, #form-checkout .form-checkout__zipcode {
  width: 48%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#form-checkout .form-checkout__lastname label, #form-checkout .form-checkout__firstname label, #form-checkout .form-checkout__email label, #form-checkout .form-checkout__phonenumber label, #form-checkout .form-checkout__city label, #form-checkout .form-checkout__zipcode label {
  margin-left: 15px;
}

#form-checkout .form-checkout__lastname input, #form-checkout .form-checkout__firstname input, #form-checkout .form-checkout__email input, #form-checkout .form-checkout__phonenumber input, #form-checkout .form-checkout__city input, #form-checkout .form-checkout__zipcode input {
  margin-left: 15px;
  width: 70%;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px grey;
          box-shadow: 0px 0px 2px grey;
  padding-left: 10px;
}

#form-checkout .form-checkout__adress {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#form-checkout .form-checkout__adress label {
  margin-left: 15px;
}

#form-checkout .form-checkout__adress input {
  margin-left: 15px;
  padding-left: 10px;
  width: 70%;
  height: 30px;
  border: 0;
  border-radius: 5px;
  border: 1px solid lightgrey;
  -webkit-box-shadow: 0px 0px 2px grey;
          box-shadow: 0px 0px 2px grey;
}

#form-checkout .form-checkout__submit {
  width: 60%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form-checkout .form-checkout__submit input {
  background: lightgreen;
  border: 0;
  margin-left: 15px;
  width: 70%;
  height: 35px;
  -webkit-box-shadow: 0px 0px 2px grey;
          box-shadow: 0px 0px 2px grey;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */