@font-face {
  font-family: "Montserrat";
  src: url("../../media/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("../../media/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "LyLaS";
  src: url("../../media/fonts/LoveYaLikeASister-Regular.ttf");
}
